body {
  margin: 0;
  font-family: "Barlow Semi Condensed", serif;
  color: #FFFFFF;
  background-color: #111111;

}
.hero-slider-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.hero-text-slider .hero.slick-slide {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.hero {
  padding: 20px;
}

.hero-text-slider ,
.hero-image-slider {
  width: 50%;
  position: relative;
}
/* content slider */
.logo {
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 3rem;
}
.text {
  padding-left: 6rem;
  padding-right: 6rem;
  border-left: 2px solid #FFFFFF;
}
h1.name {
  font-size: 4vw;
}
.text h1,
.text h2,
.text h3,
.text p {
  margin: 0;
}
.content.job h1 {
  font-size: 3vw;
  margin-bottom: 1rem;
}
.content.job .date {
  margin-bottom: 1rem;
}
.content.job .location {
  margin-top: 1rem;
}
.btn {
  background: #111111;
  color: #FFF;
  border: 1PX solid #fff;
  font-size: 1rem;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
}
/* image slider */
.hero-image-slider .image.taku {
  background-image: url(./imgs/taku.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;  
  filter: grayscale(100%);

}
.hero-image-slider .image.valnet {
  background-image: url(/imgs/GMS.jpg);
  height: 100vh;
  background-position: right;
  background-size: cover;  
}
.hero-image-slider .image.ubiweb {
  background-image: url(/imgs/ubiweb.jpeg);
  height: 100vh;
  background-position: center;
  background-size: cover  
}
.hero-image-slider .image.lnm {
  background-image: url(/imgs/lnm.png);
  background-color: #111111;
}
.hero-image-slider .image {
  height: 100vh;
  background-position: center;
  background-size: cover;
}
/* slick btn stlyes */
.slick-prev, .slick-next {
  border: 1px solid aliceblue;
  border-radius: 50%;
  top: unset;
  bottom: 40px;

  width: 55px;
  height: 55px;
  z-index: 9;
}
.slick-prev {
  left: unset;
  right: 100px;
}
.slick-next {
  right: 20px;
}
.slick-prev:before, .slick-next:before {
  font-family: 'RBCText';
}